/*
    В анимации change-state используется подход, при котором линии, которя отождествляет с собой линию пргресса, задается стиль:
    1. пунктирна линия
    2. соответствующие толщина и цвет
    3. для отображения статуса изменятся длина пунктира(от 0 до 315)
        3.1. 0 соответствует 0 прогрессу
        3.2. 315 (длина окружности) соответствует 100 
    4. плавность анимации достигается использованием css анимации
*/

:root{
    --from: 0;
    --to: 0;
}

.progress__circle{
    fill:none;
    stroke-width:5;
    stroke-miterlimit:10;
}

.progress__circle_bar{
    stroke:#FFD700;
}

.progress__circle_back{
    stroke:#808080;
}

.progress__circle_bar-mode_animate{
    animation: change-state 0.5s linear both;
    -webkit-animation: change-state 0.5s linear both;
    -o-animation: change-state 0.5s linear both;
    -moz-animation: change-state 0.5s linear both;
    -ms-animation: change-state 0.5s linear both;
}

.progress__circle_bar-mode_const{
    stroke-dasharray: var(--to),2000;
}

@keyframes change-state{
    from{
        stroke-dasharray: var(--from),2000;
    }
    to{
        stroke-dasharray: var(--to),2000;
    }
}

@-webkit-keyframes change-state{
    from{
        stroke-dasharray: var(--from),2000;
    }
    to{
        stroke-dasharray: var(--to),2000;
    }
}

@-o-keyframes change-state{
    from{
        stroke-dasharray: var(--from),2000;
    }
    to{
        stroke-dasharray: var(--to),2000;
    }
}

@-moz-keyframes change-state{
    from{
        stroke-dasharray: var(--from),2000;
    }
    to{
        stroke-dasharray: var(--to),2000;
    }
}

@-ms-keyframes change-state{
    from{
        stroke-dasharray: var(--from),2000;
    }
    to{
        stroke-dasharray: var(--to),2000;
    }
}