

/* Портретная ориентация шаблона */
@media screen and (min-aspect-ratio: 1/10) and (max-aspect-ratio: 3/2){

    .scene__header{
        width: 100%;
        height: 20%;
        font-family: Arial;
    }
    
    .scene__progress{
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .scene__manager{
        display: inline-block;
    }
    
    .scene__container_progress{
        width: 100%;
        height: 40%;
         display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto; 
    }
    
       .scene__container_manager{
        width: 100%;
        height: 40%;
        position: fixed;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto;    
    } 

}

/* Ландшафтная ориентация шаблона*/
@media screen and (max-aspect-ratio: 10/1) and (min-aspect-ratio: 3/2){
    
    .scene__header{
        width: 100vw;
        height: 10vh;
        font-family: Arial;
    }
    
    .scene__progress{
        width: 50%;
        height: 50%;
        float: left;
        margin-left: auto;
        margin-right: auto;
    }
    
    .scene__manager{
        width: 50%;
        height: 100%;
        float: right;
        display: inline-block;
        top: 0; 
        vertical-align: middle;
        background-color: red;
    }
    
    .scene__container_manager{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto;   
        background-color: green;
    }
}
