.scene__header{
    width: 100%;
    height: 10%;
    font-family: Arial;
    font-size: 30pt;
}

/* Портретная ориентация шаблона */
@media screen and (min-aspect-ratio: 1/10) and (max-aspect-ratio: 3/2){


    
    .scene__progress{
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .scene__manager{
        display: inline-block;
    }
    
    .scene__container_progress{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto; 
    }
    
       .scene__container_manager{
        width: 100%;
        height: 40%;
        position: fixed;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center;
    } 

}

/* Ландшафтная ориентация шаблона*/
@media screen and (max-aspect-ratio: 10/1) and (min-aspect-ratio: 3/2){
        
    .scene__progress{
        width: 50%;
        height: 50%;
    }
    
    .scene__manager{
        display: inline-block;
    }
    
    .scene__container_progress{
        width: 47%;
        height: 80%;
        display: flex;
        float: left;
        display: flex;
        position: fixed;
        align-items: center;
        align-content: center; 
        justify-content: center;
    }
    
       .scene__container_manager{
        width: 47%;
        height: 80%;   
        float: right;
        display: flex;
        position: fixed;
        align-items: center;
        align-content: center; 
        justify-content: center;
        overflow: auto;  
    } 
    
    .scene__container_container{
        float :right;
        width: 50%;
        height: 100;
    }
}
